{% load static %}
{% load format_rates %}
<!DOCTYPE html>
<html lang="en">
  <head>

    {% block title %}<title>Foreign Exchange Rates</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'webapp/js/app.js' %}"></script>
    <script src="{% static 'webapp/js/graphs.js' %}"></script>
    <script src="{% static 'webapp/js/tables.js' %}"></script>
    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" href="{% static 'webapp/css/styles.css' %}">
    <style>
      .line {
          fill: none;
          stroke: steelblue;
          stroke-width: 2px;
      }
    </style>
  </head>

  <body>

    <div class="container">

      <div class="row">
        <div class="col-sm-12" id="currency-table">
          {% block content %}
          <fieldset>
            <legend>Global Exchange Rates based on {{ base_rate.currency.short_name }} {{ base_rate.currency.currency_name }} {{ base_rate.rate_date }}</legend>
          </fieldset>
	  <table id="latest-rates"></table>
          {% endblock %}
          <div id="base-currency-select" >Select a base currency for conversions:
            <select class="currency-select" >
              {% for currency in currencies %}
              <option value="{{currency.currency_code}}" {% if currency.currency_code == 'EUR' %} selected="selected" {% endif %} >
                {{currency.short_name}} {{currency.currency_name}}
              </option>
              {% endfor %}
            </select>
          </div>
	  <div id="timespan-select" >Select a time range to view:
	    6 months
	    <input type="radio" name="timespan-select-button" value="6">
	    1 year
	    <input type="radio" name="timespan-select-button" value="12">
	    2 years
	    <input type="radio" name="timespan-select-button" value="24" checked="checked">
	    3 years
	    <input type="radio" name="timespan-select-button" value="36">
	    5 years
	    <input type="radio" name="timespan-select-button" value="60">
	  </div>
        </div>
      </div>
      <div class="row">
	<div class="col-sm-10">
          <svg></svg>
	</div>
	<div class="col-sm-2">
          {% block sidebar %}
          <ul class="sidebar-nav">
            <li>Stories Here</li>
        </ul>
        {% endblock %}
      </div>
      </div>
    </div>
    <footer>
    </footer>
    {% block javascript %}{% endblock %}
  </body>
</html>
